@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #02183D;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}


/* Print specific styles */
@media print {
  @page {
    size: A4;
    margin: 0;
  }
  
  body {
    background: white;
  }

  .no-print {
    display: none !important;
  }
  
  .print-only {
    display: block !important;
  }

  #letter-canvas {
    box-shadow: none !important;
    margin: 0 !important;
    width: 100% !important;
    height: 100% !important;
    min-height: auto !important;
  }
}

/* Custom Editor Styles */
.letter-content p {
  margin-bottom: 1em;
}

.letter-content {
  line-height: 1.6;
}

[contenteditable]:empty:before {
  content: attr(data-placeholder);
  color: #9ca3af;
  pointer-events: none;
  display: block; /* For Firefox */
}
